<!DOCTYPE html>
<html lang="en">
<head>
    <title>COVID-19 Tracking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

    <body class="d-flex flex-column" style="min-height: 100vh;">
        <header>
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="/public/assets/radar.png" width="40" height="40" alt="Logo Image"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Your Account
                        </button>
                        <div class="collapse navbar-collapse" id="ftco-nav">
                            <ul class="navbar-nav ml-auto mr-md-3">
                            {{>nav_login}}
                            </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-fill">
            <h1 class="display-4 text-center">Hoboken COVID-19 Tracker</h1>
            <blockquote class="blockquote text-center">
                <p class="mb-0 container">Hoboken COVID-19 Tracker is a tool that lets you see if locations you have been/locations you plan to visit is a COVID hotspot. 
                    This is a self-reportable platform, so all of our data is coming from users who are fighting the virus together.
                    <p class="font-weight-bold">Let's all work together to flatten the curve!</p>
                </p>
            </blockquote>
            

            {{{body}}}

            <h2 class="ml-4 display-5 text-center mt-4 pb-4">Heatmap</h3>
            <div id="map" class="mx-auto" style="height: 400px; width: 70%"></div>

            <div class="text-center pt-4">
                <button type="button" class="btn btn-primary mx-auto" onclick="toggleLocationsList()">Show hotspot addresses</button>
            </div>	

            <div id='search' class="mt-4 ml-4" style="display: none;">
                <input type="text" id="searchInput" placeholder="Search for locations">
                <button type="submit" onclick="searchLocations()"> Search</button>
            </div>

            <div id="heatmap-locations" class="mt-4" style="display: none;">
                <ol id='locations-list'>
                    {{#each this.locations}}
                        <li>{{this.Address}}: [{{this.Coordinates.coordinates}}]</li>
                    {{/each}}
                </ol>	
            </div>

            <h2 class="display-5 text-center mt-4 pt-4">Recent Cases Among Our Users</h2>

            <div class="container">
                <div id="chartContainer" class="mx-auto" style="height: 400px; width: 100%;"></div>
            </div>

            <div id="confirmed-cases" class="mt-4" hidden>
                <ol id='cases-list'>
                    {{#each this.users}}
                        <li>{{this.covidStatus.reportPositive}}:{{this.covidStatus.dateReported}}</li>
                    {{/each}}
                </ol>	
            </div>

            <h2 class="display-5 text-center mt-4 pt-4">Recent Cases in Hudson County</h2>
            <div class="text-center">*As reported by the <a href="https://www.nytimes.com/interactive/2021/us/new-jersey-covid-cases.html">NYTimes</a></div>

            <div class="container">
                <div id="hudsonChartContainer" class="mx-auto" style="height: 400px; width: 100%;"></div>
            </div>

            <div class="text-center mt-4 mb-4">
                <a role="button" class="btn btn-secondary text-center mx-auto" href="/quiz">
                    COVID-19 Quiz
                </a>
            </div>

        </main>

        <!-- Footer -->
        <footer class="page-footer font-small bg-dark navbar">

            <!-- Footer Elements -->
            <div class="container">

            </div>
            <!-- Footer Elements -->

            <div class="footer-copyright text-center py-3 text-white">
                Made with ♡ by the CS-546 Team
            </div>

        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Script for our client side -->
        <script src="../../public/js/heatmap.js"></script>
        
        <!-- Google maps api 
        https://developers.google.com/maps/documentation/javascript/heatmaplayer
        -->
        {{!-- <script async
            src="https://maps.googleapis.com/maps/api/js?key=APIKEY&libraries=visualization&callback=initMap">
        </script> --}}

        <script async
            src="https://maps.googleapis.com/maps/api/js?key=APIKEY&libraries=visualization&callback=initMap">
        </script>

        <!--- Library to generate dynamic line graphs -->
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="../../public/js/linegraph.js"></script>
        
    </body>

</html>
